name: 【Docker】 Build frps
on:
  schedule:
    - cron: '0 16 * * *'
  push:
    paths: [ "frps/Dockerfile",".github/workflows/build_frps.yml" ]
  pull_request:
    paths: [ "frps/Dockerfile",".github/workflows/build_frps.yml" ]
  workflow_dispatch: ~

jobs:
  Build_Docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout 
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      
    - name: Get Frp version
      id: get_version
      run: |
        URL=https://api.github.com/repos/fatedier/frp/releases/latest
        echo "version=$(curl -s ${URL} | grep tag_name | head -n 1 | awk -F '"' '{print $4}'| sed 's#v##')" >> $GITHUB_OUTPUT
        
    - name: Cache Docker layers
      uses: actions/cache@v3.2.5
      with:
        path: /tmp/.buildx-cache
        key: frps-${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          frps-${{ runner.os }}-buildx-
          
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Extract Docker metadata
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: ${{ secrets.DOCKER_USERNAME }}/frps
        tags: |
          type=raw,value=${{ steps.get_version.outputs.version }},enable=true
          type=raw,value=latest,enable=true
        labels: |
          org.opencontainers.image.author=KIMI360
          org.opencontainers.image.description=frp is a fast reverse proxy to help you expose a local server behind a NAT or firewall to the Internet. 
          org.opencontainers.image.licenses=MIT
          org.opencontainers.image.source=https://github.com/fatedier/frp
          org.opencontainers.image.title=${{ secrets.DOCKER_USERNAME }}/frps
          org.opencontainers.image.url=https://github.com/kimi360/Dockerfiles
          org.opencontainers.image.version=${{ steps.get_version.outputs.version }}
          org.opencontainers.image.docker.cmd=docker run -p 7000:7000 -v ~/frps.ini:/frp/frps.ini -d kimi360/frps:latest
        flavor: latest=false     

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./frps/
        build-args: FRP_VERSION=${{ steps.get_version.outputs.version }}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        platforms: |
            linux/386
            linux/amd64
            linux/arm/v6
            linux/arm/v7
            linux/arm64
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache
