name: 【Docker】 Build darkhttpd
on:
  schedule:
    - cron: '0 16 * * *'
  push:
    paths: [ "darkhttpd/Dockerfile",".github/workflows/build_darkhttpd.yml" ]
  pull_request:
    paths: [ "darkhttpd/Dockerfile",".github/workflows/build_darkhttpd.yml" ]
  workflow_dispatch: ~

jobs:
  Build_Docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout 
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Get Darkhttpd version
      id: get_version
      run: |
        URL=https://api.github.com/repos/emikulic/darkhttpd/releases/latest
        echo "version=$(curl -s ${URL} | grep tag_name | head -n 1 | awk -F '"' '{print $4}'| sed 's#v##')" >> $GITHUB_OUTPUT
        
    - name: Get Darkhttpd
      run: |
        git clone https://github.com/emikulic/darkhttpd ./darkhttpd/src
        rm -rfv ./darkhttpd/src/.git
        
    - name: Cache Docker layers
      uses: actions/cache@v3.3.2
      with:
        path: /tmp/.buildx-cache
        key: darkhttpd-${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          darkhttpd-${{ runner.os }}-buildx-
          
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Extract Docker metadata
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: ${{ secrets.DOCKER_USERNAME }}/darkhttpd
        tags: |
          type=raw,value=${{ steps.get_version.outputs.version }},enable=true
          type=raw,value=latest,enable=true
        labels: |
          org.opencontainers.image.author=KIMI360
          org.opencontainers.image.description=A mini static web server.
          org.opencontainers.image.licenses=MIT
          org.opencontainers.image.source=https://github.com/emikulic/darkhttpd
          org.opencontainers.image.title=${{ secrets.DOCKER_USERNAME }}/darkhttpd
          org.opencontainers.image.url=https://github.com/kimi360/Dockerfiles
          org.opencontainers.image.version=${{ steps.get_version.outputs.version }}
          org.opencontainers.image.docker.cmd=docker run -p 80:80 -v ~/website:/var/www/htdocs:ro -d kimi360/darkhttpd:latest
        flavor: latest=false     

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./darkhttpd/
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        platforms: |
            linux/386
            linux/amd64
            linux/arm/v6
            linux/arm/v7
            linux/arm64
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache
